body{
    margin: 0;
    background-color: lightblue;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid; 
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 50px;
    color: black;
}